.stack {
  background-color: $color-third;
  @include element("title") {
    padding: {
      top: 32px;
      bottom: 32px;
    }
    text-align: center;
    font-size: 40px;
    color: $color-primary;
    @include screen-media("tablet-large") {
      font-size: 65px;
    }
  }

  @include element("items") {
    display: block;
    text-align: center;
    @include screen-media("tablet") {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @include element("item") {
    padding: {
      right: 0;
      left: 0;
    }
    @include screen-media("tablet") {
      padding: {
        right: 24px;
        left: 24px;
      }
    }
  }

  @include element("img") {
    border-radius: 50%;
    width: 300px;
    @include screen-media("tablet") {
      display: flex;
      flex-wrap: wrap;
      width: 200px;
    }
  }
  @include element("column") {
    background-color: $color-third;
    padding-top: 32px;
    padding-bottom: 32px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  @include element("type") {
    font-size: 24px;
  }
  @include element("cover") {
    width: 100%;
    background-color: $color-fourth;
    padding-bottom: 40px;
    padding-top: 32px;
    @include screen-media("tablet-large") {
      width: 50%;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  @include element("cost") {
    color: $color-primary;
    font-size: 30px;
    font-weight: bold;
    & span {
      font-size: 8px;
      font-weight: 400;
    }
  }
  @include element("line") {
    background-color: $color-primary;
    width: 70%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
  }
  @include element("inf") {
    padding: 24px;
    display: flex;
    justify-content: center;
    & > p {
    }
  }
  @include element("btn") {
    font-size: 20px;
    display: inline-block;
    color: $color-primary;
    font-weight: bold;
    border: 2px solid $color-primary;
    margin: 10px;
    padding: 8px;
  }
}
