// COLORS
$color-primary: #f44336;
$color-second: #666;
$color-body: #333;
$color-third: #fff;
$color-fourth: #f7f7f7;
$color-purple: #9c69e2;
// FONTS
$fontsize-body: 15px;
$font-family: "Raleway", sans-serif;

//view range
$view-ranges: (
  tablet: 750px,
  tablet-large: 970px,
  desktop: 1170px,
);

// Screen Size
$screen-sizes: (
  desktop: 1280px,
  tablet: 768px,
  tablet-large: 1024px,
);
